<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Height</th>
            <th>Mass</th>
            <th>Birth year</th>
            <th>Creation date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let character of characters">
            <td>{{ character.name }}</td>
            <td>{{ character.height }}</td>
            <td>{{ character.mass }}</td>
            <td>{{ character.birth_year }}</td>
            <td>{{ character.created }}</td>
        </tr>
    </tbody>
</table>

<div class="tfoot"> 
    <li>
        <button class="btn btn-secondary" (click)="handlePrevious($event)">Previous</button>
    </li>
    <li>
        <button class="btn btn-secondary" (click)="handleFollowing($event)">Following</button>
    </li>
</div> 